# Build files
/public

# Temp files
.DS_Store
/resources

# IDE
.idea

# Rendered HTML files
/projects/language*/*.html

# Lock files
/.hugo_build.lock

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
