{{ define "main" }}
    <!--  Styles  -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
    {{ block "customStyle" . }}{{ with .Resources.GetMatch "assets/styles.css" }}
    <link href="{{ .Permalink }}" rel="stylesheet">
    {{ end }}{{ end }}
    <!--  Map Elements  -->
    <div id="hkstreets-map" class="{{ replace (.Page.Title  | lower)  " " "-"}}"></div>
    <div id="hkstreets-legend"></div>
    {{ block "customData" . }}
    <!--  Load all GeoJSON files available from data/NAME.geojson and use NAME as a key in the sources
        object to be accessible in the mapbox gl code. -->
    <script>
    const sources = { {{ with .Resources.Match "data/*.geojson" }}{{ range $links := . }}
        {{ replaceRE "^data/([^.]+).*" "$1" .Name }} : {
           type: "geojson",
           data: {{ .Permalink }}
       },{{ end }}{{ end }}
    }
    </script>
    {{ end }}
    <!--  Scripts  -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
    {{ block "customScript" . }}{{ with .Resources.GetMatch "assets/script.js" }}
    <script src="{{.Permalink}}"></script>{{ end }}{{ end }}
{{ end }}

