/* EMBED WRAPPER */

#hkstreets-embed {
    position: relative;
    height: 840px;
    width: 100%;
    max-height: 100%;
}

#hkstreets-embed.hkfp {
    height: 840px;
}

/* MAP */

#hkstreets-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* MAP TOOLTIPS */

#hkstreets-map .mapboxgl-popup {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    max-width: 480px;
    white-space: wrap;
    text-overflow: ellipsis;
}

#hkstreets-map .popup .mapboxgl-popup-content {
    background-color: #2A3F4D;
    opacity: 0.95;
    color: white;
}

.mapboxgl-popup img {
    max-width: 280px;
}

#hkstreets-map .mapboxgl-popup-close-button:focus-visible {
    outline: none !important;
}



/* LEGEND */

#hkstreets-legend {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px;
    overflow: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height:90px;
    margin-bottom: 40px;
    width: 90px;
    line-height: 18px;
    border-radius: 8px;
    background-color: #2a3f4d;
    color: white;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    opacity: 0.85;
    box-sizing: border-box;
}

#hkstreets-legend .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}


/* COPYRIGHT NOTICE */

.mapboxgl-ctrl-bottom-right {
    left: 140px;
    right: initial;
}


.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 10px;
    background: #2a3f4d96;
}

.mapboxgl-ctrl-attrib a {
    color: rgb(221 221 221 / 60%);
}

@media only screen and (max-width: 640px) {
    .mapboxgl-ctrl-bottom-right {
        left: 92px;
        right: initial;
    }
    .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0 10px;
    }
    .mapboxgl-ctrl.mapboxgl-ctrl-attrib.mapboxgl-compact-show {
        background: #2a3f4d;
        padding-right: 26px;
    }

}